@model MvcRazorViews.ViewModels.LojaViewModel

@{
    ViewData["Title"] = "Loja Excluida";
}

<h1>A loja @Model.Nome foi excluída com sucesso</h1>
<a href="/Shopping/Index"> Voltar para lista de lojas </a>